.title {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  color: rgb(218, 218, 218);
  text-align: center;
  margin-bottom: 3rem;
}

.inputs_container {
  display: flex;
  flex-direction: column;
}

.inputs_container input {
  padding: 1rem;
  margin: 5px;
  border-radius: 15px;
  font-size: 1rem;
  font-family: inherit;
  outline: 0;
  border: 0;
}

.login_button {
  display: block;
  margin: 10px auto;
  width: 30%;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  outline: 0;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  background-color: #4e65f7;
  color: white;
  border: 2px solid transparent;
}

.login_button:hover {
  border: 2px solid #4e65f7;
  background-color: #000;
}

.link_container {
  display: flex;
  justify-content: center;
}

.small {
  color: rgb(218, 218, 218);
  text-align: center;
  font-size: 0.85rem;
  text-decoration: underline;
  margin-bottom: 5rem;
  cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 620px) {
  .inputs_container input {
    width: 100%;
  }

  .login_button {
    width: 100%;
  }

  .error_msg {
    padding-left: 0.2rem;
  }
}

@media only screen and (max-height: 670px) {
  .subtitle {
    margin-bottom: 2rem;
  }

  .small {
    margin-bottom: 3rem;
  }
}