.nav-container {
    text-align: center;
    max-width: 800px;
    padding: 3rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-home {
    margin-right: auto;
}

.nav-link {
    text-decoration: none;
    background: none;
    border: none;
    color: #9c9c9c;
    font-size: 16px;
    cursor: pointer;
}

.nav-bars a {
    margin: 0 15px;
}


@media only screen and (max-width : 768px) {
    .nav-container {
        margin: 0 10px;
    }
}

@media only screen and (max-width : 480px) {
    .nav-links {
        display: none;
    }
    .nav-container {
        padding: 1rem 0;
    }
    header {
        display: flex;
    }
    .menu-icon {
        display: block !important;
        color: white;
        transform: scale(1.8);
        margin-left: auto;
        margin-right: 0;
    }
}
